.e1_30 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
	position:absolute;
}
.e1_31 { 
	box-shadow:15px 4px 46px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:756px;
	height:982px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_32 { 
	color:rgba(62.68750101327896, 62.68750101327896, 62.68750101327896, 1);
	width:182px;
	height:40px;
	position:absolute;
	left:1049px;
	top:87px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.e1_33 { 
	color:rgba(105.18749848008156, 105.18749848008156, 105.18749848008156, 1);
	width:124px;
	height:40px;
	position:absolute;
	left:874px;
	top:204px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e1_34 { 
	transform: rotate(-0.20389870306089042deg);
	width:562.0035400390625px;
	height:0px;
	position:absolute;
	left:859px;
	top:246px;
	border:2px solid rgba(105.18749848008156, 105.18749848008156, 105.18749848008156, 1);
}
.e1_35 { 
	color:rgba(105.18749848008156, 105.18749848008156, 105.18749848008156, 1);
	width:185px;
	height:40px;
	position:absolute;
	left:874px;
	top:320px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e1_36 { 
	transform: rotate(-0.20389870306089042deg);
	width:562.0035400390625px;
	height:0px;
	position:absolute;
	left:859px;
	top:362px;
	border:2px solid rgba(105.18749848008156, 105.18749848008156, 105.18749848008156, 1);
}
.e1_37 { 
	color:rgba(105.18749848008156, 105.18749848008156, 105.18749848008156, 1);
	width:351px;
	height:40px;
	position:absolute;
	left:874px;
	top:438px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e1_38 { 
	transform: rotate(-0.20389870306089042deg);
	width:562.0035400390625px;
	height:0px;
	position:absolute;
	left:859px;
	top:480px;
	border:2px solid rgba(105.18749848008156, 105.18749848008156, 105.18749848008156, 1);
}
.e1_39 { 
	background-color:rgba(47.17799484729767, 78.72953340411186, 244.3749949336052, 1);
	width:387px;
	height:85px;
	position:absolute;
	left:946px;
	top:594px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
}
.e1_40 { 
	width:225px;
	height:40px;
	position:absolute;
	left:1027px;
	top:617px;
}
.e1_41 { 
	color:rgba(255, 255, 255, 1);
	width:225px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:px;
}
.e1_42 { 
	background-color:rgba(0, 0, 0, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:859px;
	top:823px;
	background-image:url(../images/icono-facebook.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_43 { 
	background-color:rgba(0, 0, 0, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:1321px;
	top:823px;
	background-image:url(../images/logo-instagram.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_44 { 
	background-color:rgba(0, 0, 0, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:1090px;
	top:823px;
	background-image:url(../images/logo-twitter.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_45 { 
	width:74px;
	height:74px;
	position:absolute;
	left:800px;
	top:70px;
}
.e1_46 { 
	background-color:rgb(255, 255, 255);
	width:74px;
	height:74px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/imagen-flecha.png);
	background-repeat:no-repeat;
	background-size:cover;
}
